/* most of this is from the vencord discord server, go join! https://vencord.dev/discord */

@import url(https://dablulite.github.io/css-snippets/QuickSwitchV2/import.css);
@import url(https://dablulite.github.io/css-snippets/TabsV2HomeIcon/import.css);
@import url(https://ukrio.is-a.dev/cssCord/Other/TabCord.css);
@import url(https://dablulite.github.io/css-snippets/UserReimagined/import.css);
@import url(https://dablulite.github.io/css-snippets/CyanUI2-Ports/Bootup/import.css);
@import url(https://dablulite.github.io/css-snippets/NitroThemesFix/import.css);
@import url(https://minidiscordthemes.github.io/Snippets/MinimalAuthApps/main.css);
@import url(https://raw.githubusercontent.com/nvhhr/discordcss/main/snippets/randomfixes.theme.css);
@import url(https://dablulite.github.io/css-snippets/PrettyFolderIcons/import.css);
/* ONLY WORKS IF YOU HAVE ThemeAttributes ENABLED IN VENCORD */
@import url(https://minidiscordthemes.github.io/SettingsIcons/SettingsIcons.theme.css);

.reaction_fef95b[style*="background"] {
    pointer-events: none;
}

.layer_f7d46a.stop-animations .container_d1f8f5 {
    filter: blur(5px);
}

#experiments-tab [class^="description_"] {
    overflow: hidden;
}

#experiments-tab [class^="description_"] div:first-of-type {
    float: left;
}

#experiments-tab [class^="description_"] div+div {
    font-size: 0;
    line-height: 0;
    float: right;
}

#experiments-tab [class^="description_"] div+div:after {
    filter: grayscale();
    content: "⚠ No server configuration";
    line-height: 20px;
    font-size: 14px;
}

.messagesWrapper_ea2b0b {
    overflow: hidden;
}

.newMessagesBar__8b6d7 {
    top: -48px;
    height: 72px;
    transition: top 0.2s ease;
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.newMessagesBar__8b6d7::before {
    content: '';
    background: var(--brand-experiment);
    box-shadow: var(--elevation-low);
    width: 100%;
    position: absolute;
    height: 32px;
    border-radius: 12px;
}

.newMessagesBar__8b6d7:hover {
    top: -12px;
}

[class^="imageWrapper_"] img[class^="lazyImg"] {
    object-fit: contain !important;
}

::-webkit-scrollbar-track {
    visibility: hidden;
}

* {
    scrollbar-width: unset !important;
    scrollbar-color: unset !important;
}

.textBadge__45d79 {
    display: none;
}

.container__1cb6c {
    height: 42px;
}

.contentImage__8e0cb[style="width: 48px; height: 48px;"] {
    width: 34px !important;
    height: 34px !important;
}

.userName__206c3 {
    display: none;
    position: absolute;
}

.badgeContainer__14c9e {
    display: none;
    position: absolute;
}

.userSection__10b07 {
    position: absolute;
    font-size: 0;
}

.contentDescription__47a19 {
    padding-left: 20px;
}
