@import url(https://raw.githubusercontent.com/nvhhr/discordcss/main/snippets/randomfixes.theme.css);
@import url(https://dablulite.github.io/css-snippets/TabsV2HomeIcon/import.css);
@import url(https://dablulite.github.io/css-snippets/NitroThemesFix/import.css);
@import url(https://raw.githubusercontent.com/nvhhr/discordcss/main/snippets/modalsettings.theme.css);
@import url(https://gist.githack.com/TheSunCat/58fedaa19d6154ef3e4b2b676c286906/raw/b65adab0d398e28e89d689a794729b84baa7851e/DisblockOrigin.theme.css);
/* ONLY WORKS IF YOU HAVE ThemeAttributes ENABLED IN VENCORD */
@import url(https://minidiscordthemes.github.io/SettingsIcons/SettingsIcons.theme.css);

.reaction__4a43f[style*="background"] {
    pointer-events: none;
}

.layer_f7d46a.stop-animations .container_d1f8f5 {
    filter: blur(5px);
    pointer-events: none;
}

#experiments-tab [class^="description_"] {
    overflow: hidden;
}

#experiments-tab [class^="description_"] div:first-of-type {
    float: left;
}

#experiments-tab [class^="description_"] div+div {
    font-size: 0;
    line-height: 0;
    float: right;
}

#experiments-tab [class^="description_"] div+div:after {
    filter: grayscale();
    content: "⚠ No server configuration";
    line-height: 20px;
    font-size: 14px;
}

.messagesWrapper_add28b {
    overflow: hidden;
}

.newMessagesBar__8b272 {
    top: -48px;
    height: 72px;
    transition: top 0.2s ease;
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.newMessagesBar__8b272::before {
    content: '';
    background: var(--brand-experiment);
    box-shadow: var(--elevation-low);
    width: 100%;
    position: absolute;
    height: 32px;
    border-radius: 12px;
}

.newMessagesBar__8b272:hover {
    top: -12px;
}

[class^="imageWrapper_"] img[class^="lazyImg"] {
    object-fit: contain !important;
}

::-webkit-scrollbar-track {
    visibility: hidden;
}

* {
    scrollbar-width: unset !important;
    scrollbar-color: unset !important;
}

.textBadge_f05120 {
    display: none;
}

.container__8d997 {
    height: 42px;
}

.contentImage__1c893[style="width: 48px; height: 48px;"] {
    width: 34px !important;
    height: 34px !important;
}

.userName__23133 {
    display: none;
    position: absolute;
}

.badgeContainer__5607c {
    display: none;
    position: absolute;
}

.userSection__9a4c1 {
    position: absolute;
    font-size: 0;
}

.contentDescription_e07aa0 {
    padding-left: 20px;
}
