/* CloudCSS: A CSS snippet with a lot of other snippets. */
/* Credits to a lot of people on Vencord's Discord server! */
@import url(https://raw.githubusercontent.com/nyakowint/theme-stuff/main/vencord_sc_icons.css);
@import url(https://dablulite.github.io/css-snippets/BetterStatusPicker/import.css);
@import url(https://stevencaior.github.io/discord_themes/addons/SocialLinks_SourrR34.css);
@import url(https://dablulite.github.io/css-snippets/PrettyFolderIcons/import.css);
@import url(https://dablulite.github.io/css-snippets/TogglesV2/import.css);
@import url(https://dablulite.github.io/css-snippets/TabsV2HomeIcon/import.css);
@import url(https://dablulite.github.io/css-snippets/NitroThemesFix/import.css);
@import url(https://raw.githubusercontent.com/U8K50/randomDiscordThemesSnippets/main/DiscordThemeFix.css);
@import url(https://dablulite.github.io/css-snippets/DisablePIP/import.css);
@import url(https://dablulite.github.io/css-snippets/BetterTitlebar/import.css);
@import url(https://dablulite.github.io/css-snippets/BetterAuthApps/import.css);
@import url(https://raw.githubusercontent.com/cloudcloudskies/connectionsGlow/main/connectionGlow.css);
@import url(https://minidiscordthemes.github.io/Snippets/ChannelListWidth/main.css);

/* Settings */
:root {
    --channellist-width: 240px;
    --channellist-header-height: 48px;
    --channel-bg: #b00b6925;
    --channel-border: #b00b69ff;
    --channel-curve: 0.75rem;
    --channel-border-thickness: 2px;
}

[href^="/channels"]:hover,
.typeVoice__86122:hover,
.side_b4b3f6 .item__48dda:hover,
[aria-label="Members"] .member_aa4760:hover {
    margin-left: 5px;
}

.typeVoice__86122:hover,
[aria-label="Members"] .member_aa4760:hover {
    margin-left: 15px;
}

.iconItem__56989:has(.actionIcon_b149a2) {
    display: none !important;
}

button.button_ae40a4 {
    border-radius: 50%;
}

.contents__322f4,
.attachButton__56f98 .attachButtonInner__84c26,
.emojiButton_b63c38 .contents__322f4,
.closeButton__8177f,
.contents__322f4 > .closeIcon__16020 {
    transition: transform 1s ease;
}

.contents__322f4,
.attachButton__56f98:hover .attachButtonInner__84c26,
.emojiButton_b63c38:hover .contents__322f4,
.closeButton__8177f:hover,
.contents__322f4:hover > .closeIcon__16020 {
    transform: rotate(360deg);
}

.messagesWrapper_add28b {
    overflow: hidden;
}

.newMessagesBar__8b272 {
    top: -48px;
    height: 72px;
    transition: top 0.2s ease;
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.newMessagesBar__8b272::before {
    content: '';
    background: var(--brand-experiment);
    box-shadow: var(--elevation-low);
    width: 100%;
    position: absolute;
    height: 32px;
    border-radius: 12px;
}

.newMessagesBar__8b272:hover {
    top: -12px;
}

@font-face {
  font-family: "Twemoji Mozilla";
  src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
  unicode-range: U+1F1E6-1F1FF;
}

@font-face {
  font-family: "dashless";
  size-adjust: 100%;
  src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
  unicode-range: U+002D;
}

[data-list-item-id^=channels___]:not([role=button]),
[class^=titleWrapper] > h1,
[class^=titleWrapper] > h2,
[id^=":r"] > h1,
[class^=resultChannel],
[class^=channelNameContainer_],
[class^=searchAnswer_],
[class^=autocompleteRowContent_] [class*=autocompleteRowHeading_],
.channelWithIcon,
[class^=emptyChannelIcon_] + h3,
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_],
[class^=returnButton_] [class^=text-],
[class^=placeholder][class*=slateTextArea],
[class^=auditLog_] [class^=overflowEllipsis_] strong,
.vc-permviewer-perms-title,
[class^=headerChannelContainer_] > div,
[class^=uploadDropModal_] strong,
[class^=channelNameSpan_],
[class^=quickswitcher_] [class^=name_] {
  font-family: "Twemoji Mozilla", "dashless", var(--font-primary);
}

[class^=emptyChannelIcon_] ~ [class*=description_] > * {
  font-family: var(--font-primary);
}

.reaction__4a43f[style*="background"] {
    pointer-events: none;
}

.mentioned_fa6fd2:hover {
    background-color: hsla(var(--yellow-300-hsl), 0.08) !important;
}

#vc-spotify-player {
    --blur-amount: 2px;
    --darken-percent: 0.8;
    background: transparent !important;
    position: relative;
}

#vc-spotify-player > *,
#vc-spotify-player::after {
    position: relative;
    z-index: 1;
}

#vc-spotify-player::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, var(--darken-percent)), rgba(0, 0, 0, var(--darken-percent))), var(--vc-spotify-track-image);
    background-size: cover;
    filter: blur(var(--blur-amount));
    clip-path: inset(0);
}

.textBadge_f05120 {
    display: none;
}

.container__8d997 {
    height: 42px;
}

.contentImage__1c893[style="width: 48px; height: 48px;"] {
    width: 34px !important;
    height: 34px !important;
}

.userName__23133,
.badgeContainer__5607c {
    display: none;
    position: absolute;
}

.userSection__9a4c1 {
    position: absolute;
    font-size: 0;
}

.contentDescription_e07aa0 {
    padding-left: 20px;
}

[class^="profileBadges"][class^="profileBadges"] {
    flex: none;
}

.theme-dark .backButton__68a1c {
    color: var(--white-500);
}

.activityButton_d66dd3 {
    position: sticky;
    top: 0px !important;
}

.container__03ec9,
.header__71942,
.scrollerContainer_dda72c .container__6b2e5 {
    background-color: var(--background-primary) !important;
}

[class^=childWrapper_],
[class*=guilds_],
[class^=circleIconButton_],
[class^=scroller_],
[class^=typeWindows_],
[class^=folder_],
[class^=folderIconWrapper_],
[class^=expandedFolderBackground_] {
    background: none !important;
}

[class^=wordmarkWindows_],
[class^=winButton],
[class^=circleIcon_] {
    color: #ffffff;
}

body,
#app-mount {
    background: var(--background-tertiary) !important;
}

#user-context-close-dm,
#user-context-remove-friend,
#user-context-block {
    color: var(--status-danger);
}

#user-context-close-dm:active,
#user-context-remove-friend:active,
#user-context-block:active {
    background-color: var(--red-500) !important;
    color: var(--white-500) !important;
}

#user-context-close-dm[class*="focused-"],
#user-context-remove-friend[class*="focused-"],
#user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);
}

.contents_d3ae0d .username__0b0e7::after {
    content: "wrote:";
}

.message_ccca67:has(.edited_b20dd9) .contents_d3ae0d .username__0b0e7::after {
    content: "wrote and edited:";
}

.message_ccca67:has(.mediaAttachmentsContainer__242e2, .embed_cc6dae) .contents_d3ae0d .username__0b0e7::after {
    content: "sent attachment(s):";
}

.message_ccca67:has(.stickerAsset_ab864f) .contents_d3ae0d .username__0b0e7::after {
    content: "sent a sticker:";
}

.message_ccca67:has(.emoji.jumboable) .contents_d3ae0d .username__0b0e7::after {
    content: "sent emoji(s):";
}

.hasReply__602e2 .contents_d3ae0d .username__0b0e7::after {
    content: "replied:";
}

.message_ccca67.hasReply__602e2:has(.edited_b20dd9) .contents_d3ae0d .username__0b0e7::after {
    content: "replied and edited:";
}

.mentioned_fa6fd2 .contents_d3ae0d .username__0b0e7::after {
    content: "mentioned:";
}

.mentioned_fa6fd2:has(.edited_b20dd9) .contents_d3ae0d .username__0b0e7::after {
    content: "mentioned and edited:";
}

.contents_d3ae0d .username__0b0e7::after {
    color: var(--text-muted);
}

.edited_b20dd9 {
    font-size: 0;
}

.cozy_f5c119 .header__6a14d {
    margin-bottom: 4px;
}

.contents_d3ae0d .username__0b0e7,
.base__06abc .text_eb454c strong,
.name__084dd,
.repliedMessage__636d2 > .username__0b0e7,
.member_aa4760 .username_d272d6 {
    background: color-mix(in srgb, currentColor 25%, rgba(0, 0, 0, 0.25));
    margin-right: 4px;
    padding: 0 4px;
    border-radius: 4px;
}

.username__0b0e7::after {
    position: relative;
    margin: 0 0 0 8px;
}

.username__0b0e7:not([style]),
.repliedMessage__636d2 > .username__0b0e7 {
    color: var(--brand-experiment-100);
}

.username__0b0e7,
.repliedMessage__636d2 > .username__0b0e7 {
    text-shadow: 0 0 5px #000;
}

.standardSidebarView__12528 {
  top: 0;
}

.layer_f7d46a + .layer_f7d46a {
  border-radius: 10px;
  box-shadow: 5px 5px 25px black;
  border: 1px solid var(--border-strong);
  width: 1100px;
  height: 80vh;
  margin: auto;
  padding: 0;
}

#app-mount .baseLayer__2b890 {
  opacity: 1;
  transform: none;
}

[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }

.theme-dark .backButton__68a1c {
  color: var(--white-500);
}

.message_ccca67 {
    margin-left: 16px;
    border-radius: 10px;
}

.message_ccca67.mentioned_fa6fd2:before {
    width: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#vc-spotify-progress-bar > div.sliderContainer__1d624 > div.slider__22e99.slider__28a57.mini_d6d84c > div.bar_e58961 > div.barFill__1f56b {
  background: var(--bg-overlay-1, var(--background-secondary-alt));
  overflow: visible;
}

.base_c0676e {
    border-top-left-radius: 5px;
}

.content__690c5 .wrapper__612a5 {
    align-items: center;
}

.content__690c5 .children__563f2 {
    padding-top: 0;
}

[class*=link] {
  border-radius: var(--channel-curve);
}

:not([class*=container-]) > ul > [class*=containerDefault-],
[class*=container-] > ul > [class*=containerDefault-] {
  border-radius: var(--channel-curve);
}

[class*=containerDefault-][class*=selected-] > div > div > [class*=link],
[class*=containerDefault-][class*=selected-] > [class*=wrapper-] > [class*=link-],
[class*=iconVisibility-][class*=wrapper-][class*=modeSelected-] > div > [class*=link-],
[class*=modeConnected-] > div > [class*=link-],
[class*=iconVisibility-][class*=wrapper-] > div > [class*=link-],
[class*=containerDefault-] > [class*=list-] > div > div > div,
[class*=icon-] {
  background: var(--channel-bg);
  border: var(--channel-border-thickness) solid var(--channel-border);
}

[class*=containerDefault] > div > div > a > div > div > svg {
  width: 15px;
  height: 15px;
}

:not([class*=container-]) > ul > [class*=containerDefault-]:hover > div > div > [class*=link],
[class*=container-] > ul > [class*=containerDefault-]:hover > [class*=wrapper-] > [class*=link-],
[class*=iconVisibility-][class*=wrapper-]:hover > div > [class*=link-],
[class*=containerDefault-] > [class*=list-] > div:hover > div > div {
  border-color: var(--channel-border) !important;
}

[class*=unread-] {
  display: none;
}

[class*=modeUnread] [class*=icon-],
[class*=containerDefault-][class*=selected-] [class*=icon-],
[class*=modeSelected-] [class*=icon-],
[class*=containerDefault-]:hover [class*=icon-] {
  color: var(--channel-border) !important;
}

button[aria-label="Send a gift"],
button[aria-label="Open GIF picker"],
button[aria-label="Open sticker picker"]
{ display: none; }

[class^=wumpusWrapper] { display: none; }

textarea[placeholder*="Review @"] {
    background-color: #00000040;
}

.textArea_a86690 {
    width: fit-content;
    flex-grow: 1;
}

[class^="jumpToPresentBar"] {
    display: contents;
}

[class^="jumpToPresentBar"] > button:first-child {
    display: none;
}

[class^="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px;
    background-color: #2e353b20;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0;
    color: transparent;
    transition: all 0.4s ease;
}

[class^="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0;
    height: 24px;
    width: 24px;
    color: #fff;
    transition: margin 0.6s;
}

[class^="jumpToPresentBar"]:hover > button {
    padding: 8px 18px;
    font-size: 14px;
    color: #fff;
}

[class^="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

.wrapper__612a5 .link_ddbb36,
.container_a48b21,
.channel__0aef5,
.side_b4b3f6 .item__48dda {
    transition: margin-left 0.2s ease;
}

.wrapper__612a5:hover .link_ddbb36,
.side_b4b3f6 .item__48dda:hover {
    margin-left: 10px;
}

.container_a48b21:hover,
.channel__0aef5:hover {
    margin-left: 18px;
}

.marketingButtonImage_bc16c8.marketingButtonImageHovered__04e22,
.shyButton__30111 {
  display: none;
}

.newBadge__5fcc2.textBadge_f05120.base__5ed84.eyebrow_c15ff6.baseShapeRound_c1de89 {
  display: none;
}

.countDownWrapper__60b05 {
  position: absolute;
  top: 200px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--white-500) !important;
  transform: none !important;
  opacity: 1 !important;
}

.shyBanner__78fa4 {
  box-shadow: none;
}

.cardTextBlur__118a2 {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background: var(--background-tertiary);
}

.collectibleInfoContainer_a9bb77 {
  background: var(--background-tertiary) !important;
}

.darkText_c58a34,
.darkText__536f8 {
  color: var(--white-500);
}

.darkText_c58a34 {
  border-color: var(--white-500);
}

.avatar__991e2[src^="https://cdn.discordapp.com/avatars/1081004946872352958"] {
    content: url(https://media.discordapp.net/stickers/1217112512374505613.png);
}

.avatar__991e2[src$="size=80"] {
    width: 90px !important;
    height: 90px !important;
}

[aria-label="clyde"] .userTagUsernameNoNickname__0513b {
    visibility: hidden;
}

[aria-label="clyde"] .userTagUsernameNoNickname__0513b::before {
    content: "Viggy";
    visibility: visible;
    width: 10px;
}

[aria-label="clyde"] .headerBotTag_b741ff,
[aria-label="clyde"] .popoutBannerPremium__84487,
[aria-label="clyde"] .textBadge_f05120 {
    display: none;
    visibility: visible;
    content: url(https://media.discordapp.net/stickers/1217112512374505613.png);
}

[aria-label="clyde"] .textBadge_f05120 {
    min-width: 30px !important;
    min-height: 30px !important;
    height: 30px !important;
    padding: 0;
}

[aria-label="clyde"] .base__5ed84 {
    background-color: transparent !important;
}
.container__827e6 video.ready__61f2f {
    display: none;
}

.content_de05de::before {
    visibility: visible;
    content: '';
    display: block;
    background: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=240);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    margin: auto;
    margin-bottom: 48px;
}

.modal_d2e7a7 {
    transform: scale(1) !important;
    opacity: 1 !important;
}

.backdrop__1a911 {
    background: rgba(0, 0, 0, 0.7) !important;
}

[class*="lineClamp2Plus_"] {
  overflow-y: auto;
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
}

.textArea_a86690 {
    width: fit-content;
    flex-grow: 1;
}

[class^="jumpToPresentBar"] {
    display: contents;
}

[class^="jumpToPresentBar"] > button:first-child {
    display: none;
}

[class^="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px;
    background-color: #2e353b20;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0;
    color: transparent;
    transition: all 0.4s ease;
}

[class^="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0;
    height: 24px;
    width: 24px;
    color: #fff;
    transition: margin 0.6s;
}

[class^="jumpToPresentBar"]:hover > button {
    padding: 8px 18px;
    font-size: 14px;
    color: #fff;
}

[class^="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

[class*=messageContent] h1,
[class*=messageContent] h2,
[class*=messageContent] h3 {
  color: salmon;
}

[class*=messageContent] strong {
  color: lightsalmon;
}

.wrapper__612a5 .link_ddbb36,
.container_a48b21,
.channel__0aef5,
.side_b4b3f6 .item__48dda {
    transition: margin-left 0.2s ease;
}

.wrapper__612a5:hover .link_ddbb36,
.side_b4b3f6 .item__48dda:hover {
    margin-left: 10px;
}

.container_a48b21:hover,
.channel__0aef5:hover {
    margin-left: 18px;
}

.marketingButtonImage_bc16c8.marketingButtonImageHovered__04e22,
.shyButton__30111 {
  display: none;
}

.newBadge__5fcc2.textBadge_f05120.base__5ed84.eyebrow_c15ff6.baseShapeRound_c1de89 {
  display: none;
}

.countDownWrapper__60b05 {
  position: absolute;
  top: 200px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--white-500) !important;
  transform: none !important;
  opacity: 1 !important;
}

.shyBanner__78fa4 {
  box-shadow: none;
}

.cardTextBlur__118a2 {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background: var(--background-tertiary);
}

.collectibleInfoContainer_a9bb77 {
  background: var(--background-tertiary) !important;
}

.darkText_c58a34,
.darkText__536f8 {
  color: var(--white-500);
}

.darkText_c58a34 {
  border-color: var(--white-500);
}

.avatar__991e2[src^="https://cdn.discordapp.com/avatars/1081004946872352958"] {
    content: url(https://media.discordapp.net/stickers/1217112512374505613.png);
}

.avatar__991e2[src$="size=80"] {
    width: 90px !important;
    height: 90px !important;
}

[aria-label="clyde"] .userTagUsernameNoNickname__0513b {
    visibility: hidden;
}

[aria-label="clyde"] .userTagUsernameNoNickname__0513b::before {
    content: "Viggy";
    visibility: visible;
    width: 10px;
}

[aria-label="clyde"] .headerBotTag_b741ff,
[aria-label="clyde"] .popoutBannerPremium__84487,
[aria-label="clyde"] .textBadge_f05120 {
    display: none;
    visibility: visible;
    content: url(https://media.discordapp.net/stickers/1217112512374505613.png);
}

[aria-label="clyde"] .textBadge_f05120 {
    min-width: 30px !important;
    min-height: 30px !important;
    height: 30px !important;
    padding: 0;
}

[aria-label="clyde"] .base__5ed84 {
    background-color: transparent !important;
}
.container__827e6 video.ready__61f2f {
    display: none;
}

.content_de05de::before {
    visibility: visible;
    content: '';
    display: block;
    background: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=240);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    margin: auto;
    margin-bottom: 48px;
}

.modal_d2e7a7 {
    transform: scale(1) !important;
    opacity: 1 !important;
}

.backdrop__1a911 {
    background: rgba(0, 0, 0, 0.7) !important;
}

[class*="lineClamp2Plus_"] {
  overflow-y: auto;
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
}

.wrapper__8a5dd {
  width: 100%;
  max-width: 300px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__4ecb7 {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.button_f73214 {
  align-items: center; 
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button_f73214:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #f0f0f0;
  transform: scale(1.05);
}

.guildIconImage_c1aa48 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 15px; 
}

.guildName__22ec8 {
   margin-top: 15px;
}

.sprite__294b3.spriteColored__9a869 {
    background-image: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
    background-size: 24px;
}

.sprite__294b3.spriteGreyscale__750f4 {
    mask-image: url(https://cdn.discordapp.com/emojis/1024751291504791654.png?size=128&quality=lossless);
    mask-size: 24px;
}
